* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
}


:root {
    --net-red: #db0001;
    --net-red-hover: #a60606;
    --net-dark-blue: rgb(0, 0, 43);
    --net-ash: rgb(100, 105, 110);
}


body {
    background: var(--net-dark-blue);
    color: #fff;
}


.nav-header {
    height: 100vh;
}


/* ------------------- Nav section ------------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 1rem;
    height: 6rem;
}


.logo {
    width: 100px;
    cursor: pointer;
}


nav button, footer button {
    border: 0;
    outline: 0;
    background: var(--net-red);
    color: #fff;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}


.language-btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 15px;
}


@media (max-width: 481px) {
    .language-btn {
        display: none;
    }
}


/* ------------------- Header section ------------------ */
.header {
    width: 90%;
    margin: auto;
    height: 50rem;
    border-radius: 20px;
    background-image: linear-gradient(rgb(36, 3, 68, 0.7), rgb(36, 3, 68, 0.7)),
    url("./imgs/wall.jpg");
    background-size: cover;
    background-position: center;
    padding: 0.8rem 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}


.header-content h1 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
    max-width: 650px;
}


.header-content h3 {
    font-weight: 400;
    margin-bottom: 1.3rem;
}


.email-signup {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
    gap: 0.5rem;
}


.email-signup input {
    width: 70%;
    height: 50px;
    text-align: center;
    font-size: larger;
    border: 0;
    outline: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #000;
    color: #fff;
    border: 1px solid var(--net-ash);
    border-radius: 5px;
}


.email-signup button {
    background: var(--net-red);
    border: 0;
    border-radius: 5px;
    outline: 0;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    height: 50px;
    font-weight: 600;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}


.email-signup button:hover, nav div button:hover:nth-child(2) {
    background: var(--net-red-hover);
    transition: 1s;
}


/* ----------------- Features section -------------------- */
.features {
    width: 100%;
    margin: auto;
    padding-top: 4rem;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
    gap: 1rem;
    text-align: center;
    padding: 0 12%;
}


@media (max-width: 800px) {
    .row {
        justify-content: center;
        flex-direction: column;
    }
    .reverse {
        flex-direction: column-reverse;
    }
}


.text-col, .img-col {
    flex-basis: 50%;
    margin-bottom: 3rem;
}


.img-col img {
    display: block;
    width: 100%;
    margin: auto;
}


.features h2, .faq h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
    text-align: center;
}


hr {
    margin: auto;
    width: 90%;
    height: 0.4rem;
    background: rgb(100, 105, 110);
}



/* --------------------- FAQ section ---------------------- */
.faq {
    padding: 10px 12%;
}


.faq ul li {
    list-style: none;
}


.accordion {
    margin: 4rem auto;
    width: 100%;
    max-width: 750px;
}


.accordion li {
    width: 100%;
    padding: 5px;
}


.accordion li label {
    display: flex;
    align-items: center;
    padding: 1.3rem;
    font-size: 1.1rem;
    font-weight: 500;
    background: var(--net-ash);
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}


label::after {
    content: "+";
    font-size: 2rem;
    position: relative;
    right: 1.2rem;
    transition: transform 0.5s;
}


input[type="radio"] {
    display: none;
}


.accordion .content {
    background: var(--net-ash);
    text-align: left;
    padding: 0 1.3rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}


.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 2rem 1.3rem;
}


.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           


.faq .signup {
    margin: auto;
}


.faq div h5 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}


.faq .signup form {
    margin: 2rem auto;
}



/* ---------------- Footer ------------------ */
footer {
    padding: 3.1rem 0 1rem;
    color: #fff;
}


footer a {
    color: #fff;
}


footer h4 {
    margin-left: 10%;
    font-size: 1.3rem;
}


footer .col {
    flex-basis: 25%;
    flex-grow: 1;
}


footer .col a {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
}


footer .row {
    align-items: flex-start;
}


.gold, .gold h3 {
    text-align: center;
    margin-top: 3rem;
    margin-left: 0;
    color: gold;
    text-decoration: none;
}


footer button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    background: transparent;
    border: 1px solid #fff;
    margin: 2.5rem 12%;
}








 






@media (max-width: 600px) {
    * {
        font-size: small;
    }
}